.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  background-color: #120E43;
  min-height: 100vh;
}

button{
  padding: 5px 15px;
  border-radius: 15px;
  margin: 10px;
  background-color: #6EC72D;
}